body {
    font-family: cursive;
    background-color: rgb(227, 201, 168);
    max-width: 65ch;
    margin: auto;
    font-family: sans-serif;
}

header {
    text-align: center;
    font-family: serif;
}